.carousel {
    overflow: hidden;
}
.slides {
    position: relative;
    height: 300px;    
}
.slide {
    background: url(https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24914-home-xps-desktop-8920-laptop-inspiron-15-5567-2800x944.jpg);
    background-color: #efefef;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform 1s ease-in-out, left .1ms linear;
}
.slide.active {
    transform: translateX(100%);
    opacity: 1;
}

.slide img {
    max-width: 100%;
}
.slide.slide-out {
    transform: translateX(200%);
    opacity: 1;
}

.content {

}

.title {
    color: #007db8;
}

.content p {

}

.content button {
    background: #108643;
    border: none;
    color: white;
    padding: 10px 15px;
}

.pagination {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination .item {
    align-items: center;
    background: white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.pagination .item.active {
    border-top: solid 2px #007db8;
}

/* .slide0 { left: 0; }
.slide1 { left: 100%; }
.slide2 { left: 200%; }
.slide3 { left: 300%; } */