<div class="carousel">
  <div class="slides">

    <div [ngClass]="{ 'slide': true, 'slide0': true, 'active': activeSlide === 0, 'slide-out': slideOut ===  0}">
      <div class="content">
        <h2 class="title">Slide 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia tempore nobis sit non veniam sunt eius doloribus quam nemo, quas optio ut possimus enim vitae at hic voluptas recusandae?</p>
        <button>Show Now</button>
      </div>
    </div>
  
    <div [ngClass]="{ 'slide': true, 'slide1': true, 'active': activeSlide === 1, 'slide-out': slideOut ===  1}">
      <div class="content">
        <h2 class="title">Slide 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia tempore nobis sit non veniam sunt eius doloribus quam nemo, quas optio ut possimus enim vitae at hic voluptas recusandae?</p>
        <button>Show Now</button>
      </div>
    </div>
  
    <div [ngClass]="{ 'slide': true, 'slide2': true, 'active': activeSlide === 2, 'slide-out': slideOut ===  2}">
      <div class="content">
        <h2 class="title">Slide 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia tempore nobis sit non veniam sunt eius doloribus quam nemo, quas optio ut possimus enim vitae at hic voluptas recusandae?</p>
        <button>Show Now</button>
      </div>
    </div>
  
    <div [ngClass]="{ 'slide': true, 'slide3': true, 'active': activeSlide === 3, 'slide-out': slideOut ===  3}">
      <div class="content">
        <h2 class="title">Slide 4</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia tempore nobis sit non veniam sunt eius doloribus quam nemo, quas optio ut possimus enim vitae at hic voluptas recusandae?</p>
        <button>Show Now</button>
      </div>
    </div>
  </div>

  <ul class="pagination">
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 0 }">
      <a (click)="setSlide(0)" href="#">1</a>
    </li>
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 1 }">
      <a (click)="setSlide(1)" href="#">2</a>
    </li>
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 2 }">
      <a (click)="setSlide(2)" href="#">3</a>
    </li>
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 3 }">
      <a (click)="setSlide(3)" href="#">4</a>
    </li>
  </ul>
</div>