.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.dell_logo {
    height: 41px;
}

.header {
    background: rgb(0, 125, 184);    
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
}

.header i {
    font-size: 20px;
}

.icons i {
    margin-left: 1em;
}

i {
    cursor: pointer;    
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search {
    align-items: center;
    display: flex;
    position: relative;
    margin-left: 24px;
    max-width: 660px;
    width: 70%;
}

.search input {
    border: solid thin rgba(204, 191, 191, 0.774);
    color: rgb(204, 204, 204);
    width: 100%;
    padding: 4px;
}

.search button {
    background: rgb(0, 125, 184);
    border: none;
    color: white;
    font-family: inherit;
    font-size: 14px;
    padding: 4px 12px;
    position: absolute;
    right: 2px;
}

.mobile-search-bar {
    background-color: #fff;
    display: none;
    width: 100%;
}

.mobile-search-bar input {
    border: solid thin rgb(204, 204, 204);
    height: 30px;
    width: 100%;
    margin: 7px 0px;
    padding: 0px 8px;
    font-size: 14px;
}

.mobile-search-bar input:focus {
    border: solid thin #007db8;
}

.mobile-search-bar i {
    position: absolute;
    right: 0px;
    background-color: #007db8;
    border: solid thin #007db8;
    color: white;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-search-bar .search-container {
    flex-grow: 0;
    width: 90%;
    justify-content: center;
    position: relative;
}
.mobile-search-bar.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-bg {
    background-color: #0087c7;
    padding-bottom: 5px;
}

@media (max-width: 767px) {
    .search-container {
        justify-content: flex-end;
    }
}






::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: lightgray;
  }