img {
    max-width: 100%;
}

.img-container {
    text-align: center;
}

.main-content {
    max-width: 1170px;
    margin: 0 auto;
}

.popular-products {
    
}

.products {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.product a {
    color: rgb(0, 125, 184);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.title {
    font-weight: 400;
    text-align: center;
}

.accessories {
    display: flex;
}

.accessory {
    margin-bottom: 1em;
}

.accessory button {
    background-color: #007db8;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    padding: 10px 7px;
}

@media (max-width: 1170px) {
    .main-content {
        max-width: 970px;
    }
}

@media (max-width: 767px) {
    .main-content {
        max-width: 767px;
    }
    .products {
        flex-wrap: wrap;
    }

    .products .product {
        flex-basis: 50%;
        margin-bottom: 1em;
    }

    .accessories {
        flex-direction: column;
    }
}
