<app-carousel></app-carousel>

<div class="main-content">
  <div class="popular-products">
  
    <h2 class="title">Browse Popular Products</h2>
  
    <ul class="products">
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/laptop-inspiron-15-5559-front-usage-gray-150x120.png" alt="">
        </div>
        <a href="#">Laptops</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/22437-home-desktop-inspiron-3650-silver-3656-red-150x120.png" alt="">
        </div>
        <a href="#">Desktops</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/workstation-precision-5510-3420-150x120.png" alt="">
        </div>
        <a href="#">Workstations</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24042-ena-monitor-s2718d-150x120.png" alt="">
        </div>
        <a href="#">Monitors</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24474-ena-backpack-17-keyboard-mouse-km171-speaker-bose-soundlink-revole-plus-150x120.png" alt="">
        </div>
        <a href="#">PC Accessories</a
          ></li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/server-poweredge-tower-rack-150x120.png" alt="">
        </div>
        <a href="#">Servers</a>
      </li>
  
    </ul>
  
  </div>

  <div class="explore-accessories">
    <h2 class="title">Explore Electronics &amp; Accessories</h2>
    <div class="accessories">

      <div class="accessory">
        <div class="img-container"><img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/2048-dell_com-category-image-v2-570x283.jpg" alt=""></div>
        <button class="cta-btn">Shop Gaming</button>
      </div>

      <div class="accessory">
        <div class="img-container"><img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24106-ena-backpack-timbuk-2-prompt-messenger-headset-ae2-video-server-camera-arlo-vms3230-570x283.jpg" alt=""></div>
        <button class="cta-btn">Shop for Work</button>
      </div>

    </div>
  </div>

  <div class="idk">
    <div class="row row1">

      <div class="item" style="background-image: url('http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/precision-canvas-2718-720x245.jpg');">
        <div class="content" style="width: 48%; top: 10px; right: 10px; position: absolute;">
          <h2 class="title"><a href="#">Break creative boundaries.</a></h2>
          <p class="details"><a href="#">Meet Dell Canvas, a 27&quot; workspace that empowers natural digital creation.</a></p>
          <button class="cta-btn green">Start Creating</button>
        </div>
      </div>

      <div class="item" style="background-image: url('http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/centered-poweredge-r730-poweredge-t630-v2-720x245.jpg');">
        <div class="content">
            <h2 class="title"><a href="#">Use coupon SERVER250 for extra dollars off during our biggest sale of the year.</a></h2>            
        </div>
      </div>

    </div>

    <div class="row row2">

      <div class="item" style="background-image: url('http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/in11-1478-support-3-17-optimized-2.jpg');">
        <div class="content">
            <h2 class="title"><a href="#">Dell Support: Run diagnostics, download drivers and more.</a></h2>            
        </div>
      </div>

      <div class="item" style="background-image: url('http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/harvey-rescue-352x245.jpg');">
        <div class="content">
            <h2 class="title"><a href="#">Hurricane Harvey: Find out how Dell Technologies is supporting.</a></h2>            
        </div>
      </div>

        <div class="item" style="background-image: url('http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24810-bf-laptop-xps-13-9360-monitor-u2417h-inspiron-3668-352x245.jpg');">
          <div class="content">
              <h2 class="title"><a href="#">Savings up to $200 on select XPS PCs. No coupon necessary.</a></h2>            
          </div>
        </div>

      <div class="item" style="background-image: url('http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/pcaas-banner-latitude-7000-352-245.png');">
        <div class="content">
            <h2 class="title"><a href="#">Reduce the daily burden and cost of IT management with Dell PC as a Service.</a></h2>            
        </div>
      </div>

    </div>

  </div>
</div>