img {
    max-width: 100%;
}

.img-container {
    text-align: center;
}

.title {
    font-weight: 400;
    text-align: center;
}

.main-content {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.popular-products, .explore-accessories {
    margin: 60px 0;
}

.popular-products .title {
    margin-bottom: 50px;
}

.products {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.product a, .item a {
    color: rgb(0, 125, 184);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.explore-accessories .title {
    margin: 0;
}
.accessories {
    display: flex;
    margin-bottom: 60px;
}

.accessory {
    margin-bottom: 1em;
}

.cta-btn {
    background-color: #007db8;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 7px;
}

.green {
    background-color: #408001;
}


.row {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.row .title {
    text-align: left;
    margin: 0;
    line-height: 1;
}

.row .title a {
    font-size: 14px !important;
    line-height: 1;    
}

.row1 .details {
    margin: 0;
}

.row1 .details a {
    color: #444;
    font-size: 14px;
    margin: 0;
}

.row1 .cta-btn {
    padding: 6px 12px;
    margin: 10px 0 0 0;
}

.row1 .item {
    flex-basis: 50%;
    min-height: 230px;
}

.item {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    justify-content: flex-end;
    margin: 20px 0px;
    min-height: 192px;
    position: relative;
}

.item .content {
    background-color: #fffffff4;
    padding: 5px;
}

@media (max-width: 1170px) {
    .main-content {
        max-width: 968px;
    }
    
    .row2 {
        flex-wrap: wrap;
    }
    .row2 .item {
        flex-basis: 47%;
        /* margin: 10px 0; */
    }

    
}

@media (max-width: 991px) {
    .main-content {
        max-width: 767px;
    }
    .row1 {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row2 .item {
        flex: 0 0 47%;
    }
}

@media (max-width: 767px) {
    
    .products {
        flex-wrap: wrap;
    }

    .products .product {
        flex-basis: 50%;
        margin-bottom: 1em;
    }

    .accessories {
        flex-direction: column;
    }
    
    .row2 {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .row2 {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .item {
        margin: 10px !important;
    }
}

@media (min-width: 768px) {
    #float {
        position: absolute;
        right: 10px; 
        top: 10px; 
        width: 48%; 
    }
}