<app-carousel></app-carousel>

<div class="main-content">
  <div class="popular-products">
  
    <h2 class="title">Browse Popular Products</h2>
  
    <ul class="products">
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/laptop-inspiron-15-5559-front-usage-gray-150x120.png" alt="">
        </div>
        <a href="#">Laptops</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/22437-home-desktop-inspiron-3650-silver-3656-red-150x120.png" alt="">
        </div>
        <a href="#">Desktops</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/workstation-precision-5510-3420-150x120.png" alt="">
        </div>
        <a href="#">Workstations</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24042-ena-monitor-s2718d-150x120.png" alt="">
        </div>
        <a href="#">Monitors</a>
      </li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/24474-ena-backpack-17-keyboard-mouse-km171-speaker-bose-soundlink-revole-plus-150x120.png" alt="">
        </div>
        <a href="#">PC Accessories</a
          ></li>
  
      <li class="product">
        <div>
          <img src="https://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/server-poweredge-tower-rack-150x120.png" alt="">
        </div>
        <a href="#">Servers</a>
      </li>
  
    </ul>
  
  </div>
</div>