.app {
    transform: translateX(0%);    
    transition: transform .2s ease-in;
    height: 100%;
}

.app.active {
    transform: translateX(-200px);    
}

.main {
    flex-grow: 1;
    height: 100%;
}

.main.active {
    box-shadow: 1px 0px 4px 1px;
}

.slide-in-menu {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(200px);
    width: 200px;
    transition: transform .2s ease-in;
}