.app {

}

.main {
    flex-grow: 1;
    transition: transform .2s ease-in;    
}

.main.active {
    transform: translateX(-200px);
}

.slide-in-menu {
    background: rgb(183, 183, 183);
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(200px);
    width: 200px;
    transition: transform .2s ease-in;
}

.slide-in-menu.active {
    transform: translateX(0%);
}