<div class="carousel">
  <div class="slides">

      <div [ngClass]="{ 'slide': true, 'slide0': true, 'active': activeSlide === 0, 'slide-out': slideOut ===  0}">
        <img class="hero-image" src="http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/Retargeting/dhs/24834-home-desktop-inspiron-3668-laptop-xps-13-9360-monitor-e2417h-2800x944.jpg" alt="">
        <div class="content">
          <h2 class="title">Cyber Week Sale</h2>
          <p class="details">There's still time to save. Shop Cyber Week deals up to 50% off.</p>
          <p class="minor-details">While supplies last. Get great financing with Dell Preferred Account.^</p>
          <button>Show Now</button>
        </div>
      </div>  
   
      <div [ngClass]="{ 'slide': true, 'slide1': true, 'active': activeSlide === 1, 'slide-out': slideOut ===  1}">
        <img class="hero-image" src="http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/Retargeting/dhs/24290-laptop-xps-13-9360-desktop-xps-8910-se-2800x944.jpg" alt="">
        <div class="content">
          <h2 class="title">Cyber Week XPS PCs</h2>
          <p class="details">There's still time to save. Shop Cyber Week deals up to 50% off.</p>
          <p class="minor-details">While supplies last. Get great financing with Dell Preferred Account.^</p>
          <button>Show Now</button>
        </div>
      </div>
   
   
      <div [ngClass]="{ 'slide': true, 'slide2': true, 'active': activeSlide === 2, 'slide-out': slideOut ===  2}">
        <img class="hero-image" src="http://i.dell.com/sites/imagecontent/app-merchandizing/responsive/Shop/SnP/Home/en/PublishingImages/24769-tab-samsung-galaxy-s3-turntable-audiotechnica-lp60-roomba-vaccum-robot-2800x944.jpg" alt="">
        <div class="content">
          <h2 class="title">Cyber Week electronics savings continue.</h2>
          <p class="details">Save up to 50% on TVs, gaming, smart home and more. Free shipping on everything.</p>
          <button>Show Now</button>
        </div>
      </div>
   
  </div>

  <ul class="pagination">
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 0 }" (click)="setSlide(0)">
      <a *ngIf="isMobile || isTablet" href="#">1</a>
      <a *ngIf="isDesktop || isLargeDesktop" href="#">Cyber Week sale.</a>
    </li>
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 1 }" (click)="setSlide(1)">
      <a *ngIf="isMobile || isTablet" href="#">2</a>
      <a *ngIf="isDesktop || isLargeDesktop" href="#">Cyber Week for business.</a>
    </li>
    <li [ngClass]="{ 'item': true, 'active': activeSlide === 2 }" (click)="setSlide(2)">
      <a *ngIf="isMobile || isTablet" href="#">3</a>
      <a *ngIf="isDesktop || isLargeDesktop" href="#">Premium Support Plus.</a>
    </li>
  </ul>
  
  <div style="clear: both"></div>
</div>