.carousel {
    overflow: hidden;
}

.content {
    background-color: rgba(255, 255, 255, .9);
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    font-size: .8em;
}

.content .details {
    color: rgb(68, 68, 68);
}

.content .minor-details {
    color: rgb(68, 68, 66);    
    font-size: .7em;
    opacity: .7;
}

.content button {
    background: #408001;
    border: none;
    color: white;
    padding: 10px 15px;
    font-family: inherit;
    margin: 1em 0 0 0;
}

.slides {
    position: relative;
    display: flex;
    height: 100%;
    width: 300%;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
    position: relative;
    width: 33.33%;
    height: 100%;
    opacity: 0;
    transition: transform .5s ease-in-out;
}

.slide img {
    max-width: 100%;
}

.title {
    color: #0087c7;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.pagination {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.pagination .item {
    align-items: center;
    background: white;
    border: solid thin rgba(198, 198, 198, 0.64);
    box-sizing: border-box;
    color: #0087c7;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    height: 35px;
    justify-content: center;
    padding: 1em 0;
}

.pagination .item:hover {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: inherit;
}

.pagination .item.active {
    border-bottom: solid 4px #007db8;
}

@media (min-width: 768px) {
    .slides {

    }
    .slide {
        
    }
    .content {
        margin-left: 1em;
        max-width: 420px;
    }
}

.slide0 { left: -33.33%; }
.slide1 { left: -66.66%; }
.slide2 { left: -99.99%; }

.slide.active, .slide.slide-out { opacity: 1; }

.slide.active { transform: translateX(100%); }

.slide.slide-out { transform: translateX(200%); }

