.navbar {
    border-top: solid thin rgb(1, 108, 158);
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    background: #007db8;
    color: white;
}

.navbar li {
    padding: 10px 15px;
    list-style: none;
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }
}