.fa {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

a {
    color: inherit;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar {
    border-top: solid thin rgb(1, 108, 158);
    box-shadow: 0 1px 2px 3px rgba(0,0,0,.2);
    background: #007db8;
    margin: 0;
}

.list-item {
    align-self: start;
    color: white;
    min-height: 35px;
    list-style: none;
    padding: 0;
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.list-item__title {
    height: 35px;
    line-height: 35px;
    position: relative;
}

.sublist {
    background-color: white;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;  /* Need the z-index to position above the carousel */
}

.sublist li {
    padding: 10px 0;
    color: #007db8;
}

.sublist li:hover {
    background-color: #cce7f3
}

.start-below-navbar {
    transform: translateY(35px);
}

.wrapper {
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
    .list-item:hover {
        color: #007db8;
        background-color: white;
    }

    .list-item:hover .sublist {
        display: flex;
        flex-direction: column;
    }   
}

@media (max-width: 991px) {
    .list-item.active .sublist {
        border-top: solid thin #00000061;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translateY(0);
        width: 98%;
        left: 2%;
    }
    .navbar {
        background: rgb(238, 238, 238);
        height: 100%;        
    }
    
    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    .navbar li {
        border-bottom: solid thin #00000061;
        box-sizing: border-box;
        color: #007db8;    
        list-style: none;
        width: 100%;
        font-size: 14px;
    }
}
