.navbar {
    border-top: solid thin rgb(1, 108, 158);
    box-shadow: 0 1px 2px 3px rgba(0,0,0,.2);
    background: #007db8;
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: center;
}

.navbar li {
    color: white;
    list-style: none;
    padding: 10px 15px;
}

@media (max-width: 991px) {
    .navbar {
        background: rgba(185, 181, 155, .49);
        height: 100%;        
    }
    
    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    .navbar li {
        border-bottom: solid thin #00000061;
        box-sizing: border-box;
        color: #007db8;    
        list-style: none;
        padding: 10px 15px;
        width: 100%;
        font-size: 14px;
    }
}
