.footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .item {
    border-bottom: solid thin;
    color: inherit;
    padding: 10px 0;
    text-decoration: none;
}

.footer.top {
    background: rgba(185, 181, 155, .49);
    color: black;    
}

.footer.top .item {
    border-bottom-color: #00000061;    
}

.footer.bottom {
    background: #007db8;    
    color: white;    
}

.item a {
    text-decoration: none;
    color: inherit;
}
