<div class="top">
  <app-responsive-container>
    <ul class="footer">
      <li class="item"><a href="#">About Dell</a></li>
      <li class="item"><a href="#">Careers</a></li>
      <li class="item"><a href="#">Community</a></li>
      <li class="item"><a href="#">Events</a></li>
      <li class="item"><a href="#">Partner Program</a></li>
      <li class="item"><a href="#">Premier</a></li>
      <li class="item"><a href="#">Dell Technologies</a></li>
      <li class="item"><a href="#">United States</a></li>
    </ul>
  </app-responsive-container>
</div>

<div class="bottom">
  <app-responsive-container>
    <ul class="footer">
      <li class="item"><a href="#">&#9400; 2017 Dell</a></li>
      <li class="item"><a href="#">Terms of Sale</a></li>
      <li class="item"><a href="#">Privacy Statement</a></li>
      <li class="item"><a href="#">Ads &amp; Emails</a></li>
      <li class="item"><a href="#">Legal &amp; Regulatory</a></li>
      <li class="item"><a href="#">Corporate Social Responsibility</a></li>
      <li class="item"><a href="#">Contact</a></li>
      <li class="item"><a href="#">Feedback</a></li>
    </ul>
  </app-responsive-container>
</div>
