.footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .item {
    border-bottom: solid thin;
    color: inherit;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    flex: 0 0 0;
    white-space: nowrap;
}

.top {
    background: rgba(185, 181, 155, .49);
    color: rgb(68, 68, 68);    
}

.top .item {
    border-bottom-color: rgb(68, 68, 68);    
}

.bottom {
    background: #007db8;    
    color: white;    
}

.item a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .footer.bottom {
        font-size: 10px;
    }

    .footer .item {
        border: none;        
    }
}
